---
layout: markdown_page
title: "Contracts"
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Disclaimer

These agreements are examples of the agreements that we currently use at GitLab. However, the terms and conditions of an employee or
contractor’s agreement will vary based on each employee or contractor’s specific circumstances. GitLab reserves the right to amend or
change the sample agreements, as well as each employee or contractor’s actual agreement. The samples below are samples only — they are not
valid as such and do not replace personalized signed agreements.

## Available Currencies

The preference is for team members and future team members to be paid in their local currency. However, there may be instances where this is not possible and another currency may be chosen by the team member. This should be discussed and agreed with People Operations ahead of creating the appropriate contract (at offer stage for new team members) so a new one can be issued or confirmed by [Letter of Adjustment](#letter-of-adjustment). The effective exchange rate date used in these cases will be either January 1 or July 1 depending on the hire date of the new team member. This is to minimize significant fluctuations to salaries due to currencies that either strengthen or weaken throughout the year. Further details on this review period can be found in the [Global Compensation](/handbook/people-operations/global-compensation/) page under [Exchange Rates](/handbook/people-operations/global-compensation/#exchange-rates).

GitLab can pay local currency in the following countries:

<%= partial "/includes/contracts/payable_countries" %>

## How to use this page to prepare a contract
{:#how-to-use}

Assuming that the [hiring process](/handbook/hiring/) went smoothly, now it is time to prepare the applicable contracts.
The following set of steps should suffice:

1. The currency should normally be the local currency of the new team member unless they explicitly request USD/EUR because their local currency has a lot of inflation.
1. Employee entity: employ through the GitLab entity where they are located (US => Inc., NL => B.V., UK => Ltd, India => Lyra, Germany => GmbH, Belgium => B.V. (Belgian contract)) depending on the location in Belgium the contract will need to be in either French or Dutch with the English translation alongside.
1. Contractor entity: if the team member is in the US, or if the person is part of the Sales organization, GitLab Inc. is the contracting entity. In all other regions and functional groups, GitLab BV is the contracting entity. If the team member wants to be contracted through a company, it can either be their own established legal entity or a separate and unaffiliated 3rd party company; please confirm which with the team member. If the team member will be contracted through their own entity (or as an independent contractor), please use the BV Contractor Agreement. If the team member will be contracted through a 3rd party company, please inform Legal so that we can enter into a vendor contract with the company. The 3rd party company will then enter into a contract with the team member, and People Ops will provide the necessary specific salary and position information.
1. In the Google Drive, go to the folder titled "Employee and Contractor Templates and Staging". Only People Ops, Finance, and Legal should have access to this folder.
1. Click the folder called "Templates" to find the relevant template contract (each document is linked below).
1. Make a copy of the contract and move it back into the "Employee and Contractor Templates and Staging" folder in the Drive, to insure the data is not shared. Never edit the published templates with personal team member information.
1. Change the title of the copy to include the new hire's name.
1. Find all fields with curly brackets (`{ }`), and edit as appropriate. It is often efficient to do a find + replace on fields that appear multiple times such as names, email
addresses, etc. (fields are named the same in the contracts / PIAA to make this easier). The one exception to the curly bracket find and replace process is the Belgian contract. The fields that need to be edited are highlighted.
1. When removing optional clauses, take care that the paragraph / section numbering still makes sense (especially for the GitLab Inc offer letter).
1. When a expiry date is required, add the date that is one week from the date of the contract.
1. Have the contract reviewed, per the guideline on the [Hiring page](/handbook/hiring/interviewing/#prep-contracts).
1. [Process new contract(s) via HelloSign](#using-hellosign) (also see [how to get legal documents signed](/handbook/signing-legal-documents)).
1. If you are processing a GitLab Inc. contractor agreement, also send a W9. The template can be found in HelloSign.
1. Once the contract is signed, start the onboarding issue and place the signed pdf in the team member's folder in BambooHR.
1. Delete the google doc that was used for the preparation of the contract; it is superseded by the signed version in BambooHR.

### Using HelloSign

When [contracts are ready to be signed](/handbook/signing-legal-documents/) we use [HelloSign](https://hellosign.com). We send out all contracts through HelloSign.
Follow these steps to send out a signature request.

1. Choose who needs to sign. (just me, me & others, or just others)
1. Upload your document that needs signing. It is recommended to sync your Google Drive to do this.
1. Enter the names and emails of the people that need to sign.
1. With more than one signature required, assign signing order (for contracts or offer letters, always have the GitLab Signatory sign first).
1. Add the People Ops and Hiring emails to the cc. Also add the hiring manager to the cc, if that person is different from the signatory.
1. Click on "Prepare Docs for Signing".
1. Drag & Drop the Signature and Date fields to the corresponding empty spaces in the document (you can select the signee with the pop up screen).
1. For GitLab Inc. agreements, add a required text box to Exhibit A, and a supplemental larger text box below for a comment that is not required.
1. Add a title and a message for the recipients. For example, Title: "[Team Member Name] - Contract"; Message: "Dear [Signatory], [Team Member Name], You can sign [document type] with HelloSign. Once you've both signed you will receive a copy by email. If you have any questions, feel free to reach out."
1. Click on "Request Signature".

Once you've sent out the document you will receive email notifications of the progress and a copy of the signed document after all parties have signed. If you are sending out a contract, reply to the offer email saying "I've sent the contract through HelloSign. Once [Signatory], [Signatory Title], views and approves, you will be prompted to do the same. Let me know if you have any questions!" in order to keep everyone informed.

If you need to make a change, there is an "Edit & Resend" option in HelloSign. If a new document has to be uploaded, cancel the original and stage a new one to send for signatures.

## Employment and Contractor Agreements
{:#employee-contractor-agreements}

The following contracts are in Google docs that are viewable by anyone with the link.

- [GitLab Inc., employee offer letter with PIAA](https://docs.google.com/document/d/1tbRNvnmBfGnwxn4xC8RPZX4xlHRJUhHVVk6Fq7YtvKs/edit?usp=sharing) signed by the CCO, CFO or CEO
- [GitLab Inc., hourly employee offer letter with PIAA](https://docs.google.com/document/d/1JyCxKbTwt_8gL5X1o2TYvxoTRQo1y2nxdy6CAcpYnfk/edit#) signed by the CCO, CFO or CEO
- [GitLab Inc., contractor agreement with PIAA](https://docs.google.com/document/d/1TJXiS8LLwyFZSUH2eKj3Y24TYoqDEnLV7b9WFXfnPs8/edit) signed by the CCO, CFO or CEO
- [GitLab BV, employment contract with IP and NDA agreements](https://docs.google.com/document/d/1XF8nDDdvdY6P2SPKMVF2MFkdmO588mMp7Hv3tKwgj1o/edit#) signed by the CCO, CFO or CEO
- [GitLab BV, contractor agreement with IP and NDA agreements](https://docs.google.com/document/d/1iyMRutEBnx4m2UBk0V2aaPQVvZi9iP3Kl9WqV8ouy0k/edit) signed by the CCO, CFO or CEO
- [GitLab BV Belgium, employee contract](https://docs.google.com/document/d/1eLTL6vgVluDUNpOnYtsjfB7wZcGm6TliGZrGByjon0M/edit) signed by the CCO, CFO or CEO
        - [Work Rules, Dutch](https://docs.google.com/document/d/1sN5pxdbpwnTW7NPgc1Q73o9b7uf1PAeG2vlo5egRpnQ/edit#)
        - [Work Rules, French](https://docs.google.com/document/d/1zlWXRcFC97n3OUl477zc9cGkiHrknLbUkt6lbFqvwGA/edit)
- [GitLab Ltd, employee contract with PIAA and Joint NIC agreements](https://docs.google.com/document/d/1H8BhvyrBTPuQ4_QGo08wIio38XISndqlONi9eqjdj2Y/edit#heading=h.bfk8qrda3d2r) signed by the CCO, CFO or CEO
- [Lyra, employee contract with NDA agreements](https://docs.google.com/document/d/1Ua4Q9gA2C5QM_L3HlJy8Zb77cJtxSJ6EOA6gynvBRTQ/edit) Please note: these are not GitLab documents and are only visible to authorized persons at GitLab. Signed by Lyra's representative.
- [GitLab GmbH, employment agreement](https://docs.google.com/document/d/1RlMlwfbH1HRZ83eZVd7xElrEDEjIH-iBF-DmH5xhNRw/edit?usp=sharing) signed by the CCO, CFO or CEO.


## United States Employment Status

**[Fair Labor Standards Act](http://www.flsa.com/coverage.html) Exempt v. Nonexempt Employees**

* Nonexempt employees are paid hourly and required to track and report all hours worked. If a nonexempt employee works more than 40 hours during a work week, they are entitled to overtime pay. Overtime pay must have prior approval from the manager. Nonexempt employees are required to take two paid ten minute breaks and one unpaid thirty minute lunch break. As a fully distributed company, nonexempt employees are responsible for taking active ownership in ensuring they take the proper breaks. Please make People Ops aware of circumstances where you feel compelled not to do so.
* Exempt employees are paid on a salaried basis, do not need to track their hours, and are not eligible for overtime pay. These employees must not spend more than 50% of their time doing nonexempt duties to remain exempt.
* For new positions, managers need to ensure the classification of the role is correct before sending an offer letter the candidate. For guidelines on how to determine if a role is exempt or nonexempt, please reference the "Exempt vs Nonexempt Checklist" (which can be found on the google drive, but is only viewable to managers at GitLab). For positions that already exist, please verify the classification with People Ops.

## CXC

GitLab is working in partnership with [CXC Global](http://cxcglobal.com/) to employ GitLabbers located in several countries listed below. The actual employment contracts will be sent and issued by CXC and are in accordance with local labor law. The contracts themselves are between the individual and CXC. The offer details will be provided to CXC by GitLab's hiring team.

### Australia

CXC will hire individuals as casual employees with an initial contract of two years. This can be extended. Working time is set at 40 hours each week and payment of salary happens on a monthly basis upon payment of invoices that CXC will submit to GitLab at the beginning of each month. In addition to the paid vacation as stated in CXC's contract, further details are also provided in a separate letter.


1. Offer, Australia email template from the manager/recruiter is sent per the [hiring process](/handbook/hiring/)
1. Recruiter or People Operations will complete the SOW (statement of work) document. This is located on the Google Drive => CXC Australia Folder.
1. Details of the state payroll taxes and CXC's costs that need to be added to SOW can be found in the same folder in a spreadsheet called `CXC Costs`. Please add to this list if the state is not listed. CXC can be contacted for this information. Please see below for contact details.
1. Once SOW is completed it will need to be reviewed. Once reviewed it will need to be staged for signing by GitLab only.
1. After the SOW has been signed it will need to be emailed to CXC. Contact details can be found in 1password => People Operations Vault => Entity & Co-employer HR Contacts
1. CXC will then reach out to the candidates directly to co-ordinate the contract signing and onboarding to CXC's payroll.

### Canada

CXC will hire individuals as T4 Workers, paid on an hourly basis each fortnight. Time-sheets are required to be completed and submitted to CXC. These are to comply with the public holiday paid time off requirements and vacation pay accrual that is credited to the individuals account. In addition to the paid vacation as stated in CXC's contract, further details are also provided in a separate letter.

1. Offer, Canada email template from the manager/recruiter is sent per the [hiring process](/handbook/hiring)
2. Recruiter or People Operations will complete the CXC Global Project Information sheet. This is located on the Google Drive => CXC Canada Folder.
3. Once that sheet is completed post in the peopleops confidential slack channel for approval.
4. Email the sheet to CXC Canada contact (see Australia section above for location of contact details). CXC will then prepare the SOW for signatures.
5. Once the SOW has been sent back to recruiter or people ops rep, stage for signature in Hellosign and then send back to CXC who will then prepare the contract

## SafeGuard

In addition to CXC GitLab has also partnered with [SafeGuard](http://www.safeguardworld.com/). The contract process and relationship is the same as it is with [CXC](#cxc).  To create the contract the recruiter or people operations will do the following:

1. Offer, SafeGuard Country email template from the manager/recruiter is sent per the [hiring process](/handbook/hiring)
2. Recruiter or People Operations witll complete the `New Hire Form`. This is located on Google Drive => SafeGuard Folder.
3. Once the form is completed post in the people ops confidential channel in Slack for approval
4. Stage the form for the signature of the person who completed the form (make sure again that you have approval of the CCO or CFO)
5. Email the signed form to SafeGuard using the email address on the form. Contact details can also be found in the 1Password Vault => Entity & Co-Employer Contacts
6. Once SafeGuard receive the form they will contact the candidate directly to onboard them.


## Preparing Employment Agreements for GitLabbers in India

GitLab is working in partnership with [Lyra Infosystems](http://lyrainfo.com/) for employing GitLabbers located in India. These agreements are mailed rather than emailed so there is a lead time of approximately one week for completion before the new hire can start their employment at GitLab. The process for creating and sending an agreement is as follows:

1. Once the email offer from the manager has been sent as per the [hiring process](/handbook/hiring/) People Ops will email Lyra HR with salary information for the new hire so that Lyra can prepare the Cost to Company (CTC) breakdown to include in the contract. The Cost to Company (CTC) breakdown will be sent to you and included in the offer.
1. People Ops will reach out to the new hire and ask for full names of both parents.
1. When all of the information asked for in the above two steps has been received, complete the contract as per the steps in the [how to use this page to prepare a contract](#how-to-use) section, apart from staging the contract in HelloSign. Add the Cost to Company (CTC) Excel Sheet to "Anexure A."
1. Once the contract is ready to be sent, save it as a PDF, email it to the new hire and cc peopleops and HR at Lyra.
1. Once the contract has been emailed, HR at Lyra will send the hardcopy for signature directly to the new hire's home address.
1. When the contract has been signed HR at Lyra will send Peopleops a PDF copy of the document which can then be filed in BambooHR.
1. Complete the last step in the [how to use this page to prepare a contract](#how-to-use) section.

## Employment Agreements for GitLabbers in China

GitLab is working in partnership with [CIIC](http://www.ciicsh.com/en/) to employ GitLabbers located in China. Signed agreements between GitLab and CIIC are required to employ any new hire. Therefore, there will be a lead time of approximately three weeks prior to starting. As soon as it becomes clear that an offer to a candidate is going to be made, People Ops will reach out to CIIC to begin the process. The process for preparing the agreements between all parties is as follows:

**GitLab and New Hire:**

1. Once the email offer from the hiring manager has been sent as per the [hiring process](/handbook/hiring/) complete the [Template-GitLab China Employee Offer letter](https://docs.google.com/document/d/1c69dG9TuAB0MgiKj_gLDuHTHpzjocvEAm2okUOKqRIs/edit#) as per [How to use this page to prepare a contract](#how-to-use).
1. In addition to GitLab's Offer Letter, CIIC require a Chinese version of a [Letter of Employment Intent](https://docs.google.com/document/d/1BEHvveYUJkS1xwyd037P_zzitOSotF_68Kbi-c7k8hY/edit).
1. Complete the Letter of Intents with all of the information required/known. This should be completed in [English](https://docs.google.com/document/d/1b3fHqHzXhhoJeskUN-Km9vTLeuszysWPj8PlvXm45ug/edit) first then translated into Chinese using Google Translate.
1. Once this has been done send the GitLab offer letter and both (Chinese & English) versions of the Letter of Employment Intent to the new hire for their review, completion and signature using HelloSign. Ensure that Peopleops and CIIC are copied.
1. Once everything has been signed, print and FedEx the Chinese and English Letter of Intents to CIIC. The address can be found in the PEO China folder > China Employment Options > CIIC in the Google Drive.

**GitLab & CIIC:**

1. GitLab has a Secondment Agreement in place with CIIC, this may need to be updated but CIIC will confirm.
1. Once CIIC have received the documents they will prepare a payment notice and send this to GitLab (peopleops) for payment. This must be paid upfront and may need CFO approval.
1. After CIIC receive payment they will reach out to the new hire to complete a Labor Contract.

**CIIC & New Hire**

Once the Labor Contract has been signed by both CIIC and the new hire the individual can now commence their work with GitLab.

## Employment Agreements for GitLabbers in Germany

When a wet signature is required for employment agreements the following process must be followed:

1. Email offer from the manager/recruiter is sent per the [hiring process](/handbook/hiring/) (the candidate's address will need to be asked for at this stage). This email should also contain a link to this process so that the candidate is aware.
1. People Operations will prepare the contract per the instructions in [How to use this page to prepare a contract ](/handbook/contracts/#how-to-use).

### CCO or CFO Signatory

1. Once the contract has been reviewed and approved, either the CCO or CFO will need to print two copies of the contract, sign and send them to the candidate by postal mail using FedEx (details of this can be found in 1Password => Secretarial Vault => Fedex) or another courier service.
1. A copy of the Power of Attorney (POA) will also need to be enclosed with the contracts. The POA can be found in the German Templates folder on the Google Drive.
1. Once the documents have been sent the CCO or CFO will email People Operations with the tracking number
1. People Operations will then email the candidate to let them know the contract is on its way and provide the following instructions for the candidate to send one copy of the contract:
    1. GitLab's FedEx account details. The candidate can use another courier if that's easier for them and they will be reimbursed.
    1. Address of GitLab's German Counsel where the contract will be filed (address is in 1Password => People Operations Vault => Entity HR Contacts => address under `Legal: Employment Matters Germany`)
1. Once the law firm has received the contract they will scan and email a copy to People Operations to file in BambooHR.

### CEO Signatory

1. If the CEO is the signatory, once approved, the contract will need to be emailed to the CEO's [EA](/job-families/people-ops/executive-assistant/). If the EA is unavailable People Operations should handle the signing and sending of the contracts.
1. The EA will print out two copies of the contract for the CEO to sign
1. Once the contracts are signed they will be sent by the EA to the candidate's home address.
1. Once the documents have been sent the EA will email People Operations with the tracking number
1. People Operations will then email the candidate to let them know the contract is on its way and provide the following instructions for the candidate to send one copy of the contract:
    1. GitLab's FedEx account details (1Password => Secretarial Vault => Fedex). The candidate can use another courier if that's easier for them and they will be reimbursed.
    1. Address of GitLab's German Counsel where the contract will be filed (address is in 1Password => People Operations Vault => Entity HR Contacts => address under `Legal: Employment Matters Germany`))
1. Once the law firm has received the contract they will scan and email a copy to People Operations to file in BambooHR.


## Core Team Member Non-Disclosure Agreements
{:#core-team-nda}

Core team members are an important part of the GitLab community. In order for these individuals to be able to participate in confidential GitLab communications we ask core team members to sign a [Non-Disclosure Agreement](https://docs.google.com/a/gitlab.com/document/d/18nYA_UoTqLY_L-rW5qGJxLJfxDGwK5v_NXZVg1hoQzM/edit?usp=sharing). This document is reviewed and signed by the CFO.

## Letter of Adjustment

When a team member receives any change in compensation we need to create a [Letter of Adjustment](https://docs.google.com/document/d/1lxx92gGXL6hltRxKn0I6D8a8dHtvFBnElDf7dAlxkkQ/edit) instead of staging an entirely new contract. This document is signed by the Chief Culture Officer and the team member through HelloSign. Once the document has been signed, it is uploaded into BambooHR under the Contracts and Changes folder on the Documents Tab. Also, file any other supporting documentation, for example, an email with the approval to change the compensation. Information in BambooHR, TriNet, and HRSavvy should also be updated, if applicable. Make sure to stage the adjustment letter using the team member's personal email address and cc their GitLab email.

When a team member applies for and receives a new position through Greenhouse, a Letter of Adjustment is prepared in lieu of a new contract. The recruiting team will prepare the letter. Once signed, it is sent to the People Operations Analyst for [processing](/handbook/people-operations/promotions-transfers/#promotions--compensation-changes). 

## Probation Period - Confirmation Letter

Upon joining GitLab some team members (location dependent) will have a probationary period of 3 to 9 months. As per the [onboarding process](/handbook/general-onboarding/onboarding-processes/#adding-a-new-team-member-to-bamboohr) a notification in BambooHR will have been created. Once the manager has confirmed successful completion of the probationary period a [confirmation letter](https://docs.google.com/document/d/1JO9a1q3_-VSkzZiMbwhHkMIRvc88XMmg-eG7Aj2SbMo/edit) is staged for signature and sent to People Operations and the team member to sign.

Current Entities with Probationary Periods:
* GitLab LTD (UK)
* GitLab GmbH (Germany)

## Approval for Outside Projects

Before beginning work on outside projects, paid or unpaid, you must obtain approval in writing from the CEO, CFO or Chief Culture Officer. To submit approval please send an email to People Operations with details of the project/activities that you would like to work on. Confirmation will usually be in the form of an email and once received will be filed in the team members record in BambooHR under the Contracts and Changes folder on the Documents Tab. For team members employed in the Netherlands confirmation will be given in the form of a [Authorization Letter](https://docs.google.com/document/d/1sDIRTqZZu46uiX8McOVuyfPKh-26rTDnQ3xBaoWzNjM/edit) once signed, this will be filed as outlined above.

For any approved outside activity in which the GitLabber will use his or her GitLab account, outside activity must be stored in a separate, personal project.  All other work completed as part of the GitLab employment or contract should be stored in a GitLab namespace with a GitLab copyright.

## PIAA Agreements

GitLab strives to help its Contributors maintain the ability to work on projects that are unrelated to GitLab’s business, including other open source projects. Our PIAA does not grant GitLab any rights in any creations that you may make that are not related to GitLab's business or the work you do for GitLab. That is, you are free to develop those creations without requesting approval in advance from GitLab. We have created an amendment to the PIAA agreement which can be view in [amendment to PIAA](https://docs.google.com/document/d/1oEfDCIht7Vy6KdcGXWPHZBUXLUUZS9hsvYnOYhQjllg/edit). Please email people operations who will complete and stage the document for signatures.  Given that there is necessarily some ambiguity about which projects relate to or don't relate to our business, we have created a process to increase clarity on this issue and encourage outside work by our Contributors. If you're pretty sure that a project you want to work on is unrelated to GitLab's business, but you want GitLab to confirm this ahead of time (or afterwards), you can fill out the [Acknowledgement Letter](https://docs.google.com/document/d/1aZJZUUEN_ySueZ8i3ak7Eu21cEYm4a8EZm-xILJGiQM/edit) we've provided with a detailed description of the project. GitLab will review your submitted project details, and if we agree that it is not related to our business and does not result from your work for GitLab, we'll sign the letter and return it to you.

## Usability Testing Consent
{:#usability-consent}

**Consent Form for GitLab Usability Test**


During this usability test I agree to participate in an online session using my computer and telephone. During the session I will be interviewed about the site, asked to find information or complete tasks using the site, asked to complete an online questionnaire about the experience, and I may be video recorded (together, these form the “Materials”).

I understand and consent to the use and release of the Materials by GitLab B.V. (“GitLab”). These materials will likely be made public. I understand that it is the discretion of GitLab to decide whether and how to use the Materials. I relinquish any rights to the Materials and understand the recording may be copied and used by GitLab without further permission. I hereby agree to release, defend, and hold harmless GitLab and its agents or employees, from and against any claims, damages or liability arising from or related to the use of the Materials, including but not limited to libel, defamation, invasion of privacy or right of publicity, infringement of copyright or trademark, misuse, distortion, blurring, alteration, optical illusion or use in composite form, either intentionally or otherwise, that may occur or be produced in taking, processing, reduction or production of the Materials, their publication or distribution.

I have read the above authorization, release, and agreement and I am fully familiar with the contents thereof. This release shall be binding upon me and my heirs, legal representatives, and assigns. I understand that participation is voluntary and I agree to immediately raise any concerns I might have.

If you have any questions after today, please contact {GitLab Contact Person}.


Please sign below to indicate that you have read and understand the information on this form and that any questions you might have about the session have been answered.


Date:{Date}

Please print your name: {Usability Tester Name}

Please sign your name:

Thank you!

We appreciate your participation.
